* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Raleway", "Roboto";
}
body {
  background-color: (240, 239, 239);
}
.bodys {
  position: relative;
}
.heads {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 125px 0 128px;
  background-color: #212934;
  color: #cfd6e1;
  /* height: 40px; */
}
.first .contact {
  display: flex;
  gap: 22px;
  font-size: 12px;
  /* padding: 4px; */
  font-weight: 200;
}
.first .contact p {
  margin: 8px !important;
}
.first .icons {
  display: flex;
  gap: 12px;
}
.first .icons a {
  color: #cfd6e1;
  scale: 0.7;
}
@media (max-width: 640px) {
  .heads {
    display: none;
    opacity: 0;
  }
}
.navbar.navbar-expand-lg.bg-body-tertiary.pt-4 {
  position: sticky;
  top: 0px;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: rgb(110, 110, 110);
  font-size: 18px;
  font-weight: 200;
  /* padding-left: 30px; */
  margin: 0 30px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #59ab6e;
}
.navbar-expand-lg .navbar-brand {
  color: #59ab6e;
  font-size: 38px;
  font-weight: 500;
}
.navbar-expand-lg .navbar-collapse {
  padding-left: 140px;
}
.contact-prt {
  /* border: 2px solid black; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  text-align: center;
  gap: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-prt .contact-us {
  padding: 16px;
  /* border: 2px solid black; */
  background-color: #e9eef5;
  /* word-wrap: break-word;
   */
  width: 100%;
  flex-wrap: wrap;
  height: 50vh;
  padding-top: 80px;
  border-bottom: 1px solid gray;
}
.contact-nt p:first-child {
  font-size: 34px;
  font-weight: 300;
}
.map-container iframe {
  width: 100%;
  height: 300px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.form {
  /* border: 2px solid black; */
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid gray;
}
.form-area {
  margin: 0 auto;
  align-content: center;
  /* border: 2px solid red; */
  width: 70%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-area .uperrr {
  display: flex;
  justify-content: space-around;
}
.form-area .uperrr p {
  margin-bottom: 0px;
  font-size: 20px;
  margin-top: 20px;
}
.form-area .uperrr input {
  font-size: 20px;
  border: none;
  outline: 1px solid #212934;
  border-radius: 2px;
}
.form-area .lowrrr input {
  font-size: 20px;
  border: none;
  outline: 1px solid #212934;
  border-radius: 2px;
}
.form-area .lowrrr p {
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 20px;
}
.form-area .lowrrr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-area .desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.form-area .desc textarea {
  width: 420px;
  margin-left: 40px;
  padding: 4px;
}
.form-area .desc input {
  margin-right: 70px;
  margin-top: 50px;
  width: 10vw;
  font-size: 18px;
  color: black;
  background-color: #59ab6e;
  border: 1px solid #59ab6e;
  border-radius: 4px;
  transition: 0.3s ea;
  height: 8vh;
}
@media (max-width: 960px) {
  .form-area .desc {
    display: flex;
    flex-direction: column;
  }
  .form-area .desc textarea {
    width: 500px;
    margin: 0 auto;
  }
  .form-area .desc input {
    width: 15vw;
    margin-top: 30px;
    margin-right: 0px;
  }
}
@media (max-width: 780px) {
  .form-area .desc textarea {
    width: 300px;
    margin: 0 auto;
  }
  .form-area .desc input {
    width: 15vw;
  }
  .form-area .uperrr input {
    width: 300px;
  }
  .form-area .lowrrr input {
    width: 300px;
  }
  .form-area .uperrr,
  .lowrrr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 555px) {
  .form-area .desc input {
    width: 25vw;
  }
}
.pricing2 {
  background-color: #e9eef5;
}

.pricing2 img {
  width: 120px;
  height: 40vh;
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: grayscale(100%);
  opacity: 0.5;
  /* transition: 0.5s; */
}

.pricing2 .card-body p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing2 img:hover {
  transform: scale(1.01);
  filter: grayscale(0%);
  opacity: 1;
}

.row.row-cols-1.row-cols-md-4.mb-4.h-100.text-center {
  margin-top: 50px;
}

.list-unstyled li a {
  color: white;
  text-decoration: none;
  line-height: 40px;
  transition: 0.2s ease;
}

.list-unstyled li a:hover {
  color: #59ab6e;
  transition: 0.2s ease;
}

.list-unstyled.mt-3.pt-5 {
  margin-bottom: 30px;
}

.footer-brand.fs-1 {
  margin-top: -6px;
}

.footer-title.pb-3 {
  font-size: 28px;
}

.p-3.fs-1 {
  transition: 0.2s ease;
}

.p-3.fs-1:hover {
  color: white;
  transition: 0.2s ease;
}

footer {
  background-color: #16181a;
  color: white;
  font-size: 18px;
  font-weight: 200;
  padding: 12px;
}

footer a {
  color: #59ab6e;
  text-decoration: none;
}

.body-txt a {
  text-decoration: none;
  color: white;
}

.body-txt a:hover {
  color: #59ab6e;
  transition: 0.2s ease-out;
}
