* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Raleway", "Roboto";
}
body {
  background-color: (240, 239, 239);
}
.bodys {
  position: relative;
}
.heads {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 125px 0 128px;
  background-color: #212934;
  color: #cfd6e1;
  /* height: 40px; */
}
.first .contact {
  display: flex;
  gap: 22px;
  font-size: 12px;
  /* padding: 4px; */
  font-weight: 200;
}
.first .contact p {
  margin: 8px !important;
}
.first .icons {
  display: flex;
  gap: 12px;
}
.first .icons a {
  color: #cfd6e1;
  scale: 0.7;
}
@media (max-width: 640px) {
  .heads {
    display: none;
    opacity: 0;
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: rgb(110, 110, 110);
  font-size: 18px;
  font-weight: 200;
  /* padding-left: 30px; */
  margin: 0 30px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #59ab6e;
}
.navbar-expand-lg .navbar-brand {
  color: #59ab6e;
  font-size: 38px;
  font-weight: 500;
}
.navbar-expand-lg .navbar-collapse {
  padding-left: 140px;
}
.bg-body-tertiary {
  padding: 0px;
  --bs-bg-opacity: 0;
}
.carousel-item {
  min-height: 80vh; /* taller, centered look */
  background-color: #f9f9f9;
}
.carousel-item.active img {
  transform: translateY(-10px);
}

@media (max-width: 991px) {
  .carousel-item {
    text-align: center;
  }
  .carousel-item img {
    margin-top: 30px;
    max-width: 80%;
  }
}
.text-start {
  padding-left: 60px;
}
.text-success {
  font-weight: 300 !important;
}
.flex-lg-row {
  background-color: rgb(240, 239, 239);
}
.btn-success {
  margin-top: 30px;
  width: 30%;
}
.fw-normal {
  font-size: 20px;
  font-weight: 400;
}
.fw-light {
  font-size: 48px;
  font-weight: 200 !important;
}
.text-start {
  padding-left: 0 !important;
}
.list-unstyled li a {
  color: white;
  text-decoration: none;
  line-height: 40px;
  transition: 0.2s ease;
}
.list-unstyled li a:hover {
  color: #59ab6e;
  transition: 0.2s ease;
}
.list-unstyled.mt-3.pt-5 {
  margin-bottom: 30px;
}
.footer-brand.fs-1 {
  margin-top: -6px;
}
.footer-title.pb-3 {
  font-size: 28px;
}
.p-3.fs-1 {
  transition: 0.2s ease;
}
.p-3.fs-1:hover {
  color: white;
  transition: 0.2s ease;
}
